* {
  box-sizing: border-box;
  font-family: 'Open Sans Regular', arial, sans-serif;
  color: #515151;
}

/* Style the body */
body {
  height: 100vh;
  font-family: 'Open Sans Regular', arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Header/logo Title */
.header {
  padding: 0 0 0 90px;
  text-align: left;
  background: #fff;
  color: #515151;
}

.header h1 {
  font-weight: lighter;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #0b7eb5;
  justify-content: space-around;
  color: white;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 70px;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.navbar a:hover {
  background-color: #059ada;
}

.chapter {
  color: white;
  font-size: 1.2rem;
}

.chapter img {
  max-height: 50px;
}

.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.sticky + #content-container {
  padding-top: 125px;
}

.chapter-row {
  height: 100%;
}

#content-container {
  align-self: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Column container */
.toprow {
  display: flex;
  flex-wrap: none;
  width: 100%;
  background-color: #f26631;
}

.halfwidth {
  flex: 50%;
  background-color: #f26631;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: none;
  width: 100%;
  background-color: #fff;
  padding-right: 70px;
  padding-left: 70px;
  justify-content: center;
  align-items: center;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 40%;
  background-color: #fff;
  padding: 50px;
}

.side h2 {
  font-weight: lighter;
}

.side p {
  line-height: 1.3rem;
}

/* Main column */
.main {
  display: flex;
  flex: 5%;
  background-color: #fff;
  padding: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main .imgitem {
  display: flex;
  background-color: #0b7eb5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.imgitem img {
  width: 30px;
  height: 30px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #eee;
}

.footer h2 {
  font-weight: lighter;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}

button {
  float: right;
  background-color: #f26631;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  display: flex;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 12px;
  border: 0px solid #888;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-part {
  flex-grow: 1;
  height: 300px;
  align-content: center;
  padding: 20px;
  padding-left: 10%;
}

.modal-part:nth-child(1) {
  background-color: #0b7eb5;
}

.modal-part:nth-child(2) {
  background-color: #1d85b5;
}
.modal-part:nth-child(3) {
  background-color: #2f8bb5;
}
.modal-part:nth-child(4) {
  background-color: #4190b5;
}

.modal-img {
  max-height: 100%;
  max-width: 100%;
  filter: invert(100%);
}

.third {
  margin: auto;
  display: inline-block;
  width: 30%;
  height: 250px;
  vertical-align: text-top;
}

.third p,
.third h2 {
  color: #fff;
}

.third p {
  line-height: 1.3rem;
}

/* The Close Button */
.close {
  float: right;
  top: 2px;
  left: 100%;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: white;
  color: #515151;
  font-size: 0.9rem;
  text-align: left;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -85px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 12px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
